@model BusinessLayer.Entity.Concrete_Specimen
<style>
    .form-group > label {
        font-weight: 800;
    }
</style>




<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>





    <div class="card-box mb-30" style="padding:10px;">
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Test Number</label>
            <div class="col-sm-12 col-md-4">
                :  <span id="spnTest_No" style="color: red;font-weight:bold;">@Model.Test_No</span>    </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label required">Temp Of Dry Bulb::</label>
            <div class="col-sm-12 col-md-4">
             @Model.DryBulb
            </div>
            <label class="col-sm-12 col-md-2 col-form-label required"> Temp Of Wet Bulb</label>
            <div class="col-sm-12 col-md-4">
                @Model.WetBulb
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label required">Testing Date & Time:</label>
            <div class="col-sm-12 col-md-4">
              @Model.TestDateTime
            </div>
        </div>
        <div class="form-group row">
            <div class="table-responsive">
                <table class="table table-bordered" style="font-size: 9px; padding: 0px; margin: 0px; width: 3000px;" id="tblRemarksList">
                    <thead>
                        <tr>
                            <th rowspan="2" style="width:50px;text-align:center;">Sr. No.</th>
                            <th rowspan="2" style="width:800px;text-align:center;">Client</th>
                            <th rowspan="2" style="width:300px;text-align: center;">Id Mark</th>
                            <th colspan="3" style="width:900px;text-align: center;">Dimension</th>
                            <th rowspan="2" style="width:600px;text-align:center;">Date Of<br /> Casting</th>
                            <th rowspan="2" style="width:300px;text-align:center;">Age at<br />Test<br />(days)</th>
                            <th rowspan="2" style="width:400px;text-align:center;">Concrete<br />grade</th>
                            <th rowspan="2" style="width:400px;text-align:center;">Weight<br />Kgs</th>
                            <th rowspan="2" style="width:400px;text-align:center;">Crushing<br />Load.kN</th>
                            <th rowspan="2" style="width:400px;text-align:center;">Compressive<br />strength,Mpa</th>
                            <th rowspan="2" style="width:400px;text-align:center;">Average<br />Compressive<br />Strength,Mpa</th>
                            <th rowspan="2" style="width:700px;text-align: center;">Remarks</th>
                            <th rowspan="2" style="text-align:center;"></th>
                        </tr>
                        <tr>
                            <th style="width:300px;text-align:center;">L</th>
                            <th style="width:300px;text-align:center;">B</th>
                            <th style="width:300px;text-align:center;">H</th>

                        </tr>
                    </thead>
                    <tbody id="tbodyRemarksList">
                        @for (int i = 0; i < Model.Concrete_Specimen_Dtl_List.Count(); i++)
                        {

                            <tr id="tr_@i">
                                <td data-title="Sr.No." style="text-align: center; padding-top: 17px;">
                                    <span id="spnSrNo_@i"> @(i + 1) </span>
                                    @*@Html.HiddenFor(x => x.Concrete_Specimen_Dtl_List[i].Sr_No)
                                    <span id="spnSrNo_@i"> @(i + 1) </span>*@
                                </td>
                                <td data-title="Client">
                                   
                                    @Html.TextBoxFor(x => x.Concrete_Specimen_Dtl_List[i].Client, new { @class = "form-control", @autocomplete = "off", @data_placeholder = "Insert Client" , @readonly=true})
                                      <span id="spnErr_txtClient_@i" class="field-validation-error"></span>
                                  </td>
                                <td data-title="Id Mark">
                                  
                                     @Html.TextBoxFor(x => x.Concrete_Specimen_Dtl_List[i].Id_Mark, new { @class = "form-control numeric", @autocomplete = "off", @data_placeholder = "Insert Mark ID", @readonly = true})
                                    <span id="spnErr_txtId_Mark_@i" class="field-validation-error"></span>
                                 </td>
                                <td data-title="L">
                                 
                                    @Html.TextBoxFor(x => x.Concrete_Specimen_Dtl_List[i].Dimension_L, new { @class = "form-control numeric", @autocomplete = "off", @data_placeholder = "Insert Dimension L", @readonly = true })
                                     <span id="spnErr_txtDimensionL_@i" class="field-validation-error"></span>  
                                 </td>
                                <td data-title="B">
                                  
                                    @Html.TextBoxFor(x => x.Concrete_Specimen_Dtl_List[i].Dimension_B, new { @class = "form-control numeric", @autocomplete = "off", @data_placeholder = "Insert Dimension B", @readonly = true})
                                    <span id="spnErr_txtDimensionB_@i" class="field-validation-error"></span>
                                </td>
                                <td data-title="H">
                                   
                                    @Html.TextBoxFor(x => x.Concrete_Specimen_Dtl_List[i].Dimension_H, new { @class = "form-control numeric", @autocomplete = "off", @data_placeholder = "Insert Dimension H", @readonly = true })
                                    <span id="spnErr_txtDimensionH_@i" class="field-validation-error"></span>
                                </td>
                                <td data-title="Date Of Casting">
                                    @Html.TextBoxFor(x => x.Concrete_Specimen_Dtl_List[i].Date_Of_Casting, new { @class = "form-control datetimepicker", @autocomplete = "off", @data_placeholder = "Insert Casting Date", @readonly = true })
                                     <span id="spnErr_txtDate_Of_Casting_@i" class="field-validation-error"></span>
                                 </td>
                                <td data-title="Age at Test days">
                                  
                                    @Html.TextBoxFor(x => x.Concrete_Specimen_Dtl_List[i].Age_Test, new { @class = "form-control numeric", @autocomplete = "off", @data_placeholder = "Insert Test Age", @readonly = true })
                                        <span id="spnErr_txtAge_Test_@i" class="field-validation-error"></span>
                                 </td>
                                <td data-title="Concrete grade">
                                    @Html.TextBoxFor(x => x.Concrete_Specimen_Dtl_List[i].GRADE_ID, new { @class = "form-control", @autocomplete = "off", @data_placeholder = "Insert Concrete Grade", @readonly = true })
                                    <span id="spnErr_txtGRADE_ID_@i" class="field-validation-error"></span>
                                  </td>
                                <td data-title="Weight Kgs">
                                 
                                    @Html.TextBoxFor(x => x.Concrete_Specimen_Dtl_List[i].Weight, new { @class = "form-control numeric", @autocomplete = "off", @data_placeholder = "Insert Weight", @readonly = true })
                                    <span id="spnErr_txtWeight_@i" class="field-validation-error"></span>
                                   </td>
                                <td data-title="Crushing Load.kN">
                            
                                    @Html.TextBoxFor(x => x.Concrete_Specimen_Dtl_List[i].Crushing_Load, new { @class = "form-control numeric", @autocomplete = "off", @data_placeholder = "Insert Crushing Load", @readonly = true })
                                      <span id="spnErr_txtCrushing_Load_@i" class="field-validation-error"></span>
                                  </td>
                                <td data-title="Compressive strength, Mpa">
                              
                                    @Html.TextBoxFor(x => x.Concrete_Specimen_Dtl_List[i].Compressive_Strength, new { @class = "form-control numeric", @autocomplete = "off", @data_placeholder = "Insert Compressive Strength", @readonly = true })
                                         <span id="spnErr_txtCompressive_Strength_@i" class="field-validation-error"></span>
                                 </td>  
                                <td data-title="Average Compressive strength, Mpa">
                                 
                                    @Html.TextBoxFor(x => x.Concrete_Specimen_Dtl_List[i].AVG_Compressive_Strength, new { @class = "form-control numeric", @autocomplete = "off", @data_placeholder = "Insert Average Compressive Strength", @readonly = true })
                                     <span id="spnErr_txtAVG_Compressive_Strength_@i" class="field-validation-error"></span>
                                 </td>
                                <td data-title="Remarks">
                                  
                                    @Html.TextBoxFor(x => x.Concrete_Specimen_Dtl_List[i].Remarks, new { @class = "form-control", @autocomplete = "off", @data_placeholder = "Insert Remarks", @readonly = true })
                                     <span id="spnErr_txtRemarks_@i" class="field-validation-error"></span>
                                  </td>

                                @*<td data-title="Action" style="font-size:20px;padding-top:17px;">
                                    @if (i == 0)
                                    {
                                        <i class="fa fa-plus" aria-hidden="true" style="cursor: pointer; display: block;" id="iAddRemarks_@i"></i>
                                        <i class="fa fa-trash-o" aria-hidden="true" style="cursor:pointer;display:none;" id="iDelRemarks_@i"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-plus" aria-hidden="true" style="cursor: pointer; display: none;" id="iAddRemarks_@i"></i>
                                        <i class="fa fa-close" aria-hidden="true" style="cursor:pointer;display:block;color:red;" id="iDelRemarks_@i"></i>
                                    }
                                </td>*@
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Upload Test Report</label>
            <div class="col-sm-12 col-md-10">
                @Html.TextBoxFor(x => x.UploadFile, new { @class = "form-control", @id = "txtUploadFile", @type = "file", @readonly = true })
                <span id="spnErr_txtUploadFile" class="field-validation-error"></span>
                <a href="#" class="btn btn-sm btn-outline-secondary" id="btnSlipView"> <i class="icon-copy fa fa-eye" aria-hidden="true" style="font-size:20px;"></i> View Report</a>
                @Html.HiddenFor(x => x.FILE_PATH, new { @id = "hdnFilePath" })
            </div>
        </div>
    
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Tested By</label>
            <div class="col-sm-12 col-md-4">
                @*@Html.DropDownListFor(x => x.TESTED_BY, Model.EMPLOYEE_LIST, "Select Tested By", new { @class = "custom-select2 form-control", @id = "ddlTESTED_BY", @data_placeholder = "Select Tested By", @style = "width: 100%;", @readonly = true })*@
                : @Model.TESTED_BY
                  <span id="spnErr_ddlTESTED_BY" class="field-validation-error"></span>
            </div>
            <label class="col-sm-12 col-md-2 col-form-label">Checked By</label>
            <div class="col-sm-12 col-md-4">
                @*@Html.DropDownListFor(x => x.QC_INCHARGE, Model.EMPLOYEE_LIST, "Select Checked By", new { @class = "custom-select2 form-control", @id = "ddlQC_INCHARGE", @data_placeholder = "Select Checked By", @style = "width: 100%;", @readonly = true })*@
                : @Model.QC_INCHARGE
                <span id="spnErr_ddlQC_INCHARGE" class="field-validation-error"></span>
            </div>
        </div>
    </div>
    
      <div class="modal fade bs-example-modal-lg" id="DocModal" tabindex="-1" role="dialog" aria-labelledby="DocModalLabel" aria-hidden="true" style="width:100%;padding:0px;">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">View Document</h4>
                <button type="button" class="close" aria-label="Close" id="btnDocPopupClose">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="DocBody" style="padding-right: 0px; margin-right: 0px; max-height: 500px; overflow:hidden;padding:5px;">
                <div id="DOC1"></div>
            </div>

        </div>
    </div>
</div>

<script>
 

        $('#btnSlipView').click(function () {
            alert("HELLO");
            var FilePath = $('#hdnFilePath').val();

            $("#DOC1").html('<iframe width="100%" style="border: 0px;" height="450" src="@Url.Action("ShowDocument", "Concrete", new { FilePath = "_FilePath" }) "'.replace("_FilePath", FilePath) + 'class="img-responsive" ></iframe>');
              $("#DOC1").show();
            $('#DocBody').slideDown('slow');
            $('#DocModal').modal('show');

        });

        $('#btnDocPopupClose').click(function () {
            $('#DocBody').slideUp('slow');
            $('#DocModal').modal('hide');
        });


</script>
