@model BusinessLayer.Entity.Concrete_Specimen

@{
    ViewBag.Title = "ConcreteSpecimensDtl";
    Layout = "~/Views/Shared/_MainDashboard.cshtml";
    }

<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
<style>
    .table thead th {
        font-weight: 600;
        font-size: 14px;
        border-bottom: 0;
        padding-left: 1rem;
        background-color: #000000;
        color: white;
    }

    .table td {
        font-weight: 600;
        font-size: 12px;
        border-bottom: 0;
        padding-left: 1rem;
    }

    .table td, .table th {
        padding: 0.25rem;
        vertical-align: top;
        border: 1px solid #dee2e6;
    }

    tr:nth-child(even) {
        background-color: #fffada;
    }

    td:first-child {
        text-align: center;
        padding: 20px;
    }
</style>

@using (Html.BeginForm("ConcreteSpecimensEntry", "Concrete", FormMethod.Post, new { @id = "frmConcreteSpecimensEntry", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    Html.RenderPartial("_Alerts");
    <div class="card-box mb-30" style="padding:10px;">
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label required">Temp Of Dry Bulb::</label>
            <div class="col-sm-12 col-md-4">
                @Html.TextBoxFor(x => x.DryBulb, new { @class = "form-control", @id = "txtDryBulb", @autocomplete = "off", @data_placeholder = "Enter Dry Bulb" })
                <span id="spnErr_txtDryBulb" class="field-validation-error"></span>
            </div>
            <label class="col-sm-12 col-md-2 col-form-label required"> Temp Of Wet Bulb</label>
            <div class="col-sm-12 col-md-4">
                @Html.TextBoxFor(x => x.WetBulb, new { @class = "form-control", @id = "txtWetBulb", @autocomplete = "off", @data_placeholder = "Enter Wet Bulb" })
                <span id="spnErr_txtWetBulb" class="field-validation-error"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label required">Testing Date & Time:</label>
            <div class="col-sm-12 col-md-4">
                @Html.TextBoxFor(x => x.TestDateTime, new { @class = "form-control datetimepicker", @id = "txtTestDateTime", @autocomplete = "off", @data_placeholder = "Enter Test Date & Time" ,@readOnly = true })
                <span id="spnErr_txtTestDateTime" class="field-validation-error"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="table-responsive">
                <table class="table table-bordered" style="font-size: 9px; padding: 0px; margin: 0px; width: 3000px;" id="tblRemarksList">
                    <thead>
                        <tr>
                            <th rowspan="2" style="width:50px;text-align:center;">Sr. No.</th>
                            <th rowspan="2" style="width:800px;text-align:center;">Client</th>
                            <th rowspan="2" style="width:300px;text-align: center;">Id Mark</th>
                            <th colspan="3" style="width:900px;text-align: center;">Dimension</th>
                            <th rowspan="2" style="width:600px;text-align:center;">Date Of<br /> Casting</th>
                            <th rowspan="2" style="width:300px;text-align:center;">Age at<br />Test<br />(days)</th>
                            <th rowspan="2" style="width:400px;text-align:center;">Concrete<br />grade</th>
                            <th rowspan="2" style="width:400px;text-align:center;">Weight<br />Kgs</th>
                            <th rowspan="2" style="width:400px;text-align:center;">Crushing<br />Load.kN</th>
                            <th rowspan="2" style="width:400px;text-align:center;">Compressive<br />strength,Mpa</th>
                            <th rowspan="2" style="width:400px;text-align:center;">Average<br />Compressive<br />Strength,Mpa</th>
                            <th rowspan="2" style="width:700px;text-align: center;">Remarks</th>
          
                            <th rowspan="2" style="text-align:center;"></th>
                        </tr>
                        <tr>
                            <th style="width:300px;text-align:center;">L</th>
                            <th style="width:300px;text-align:center;">B</th>
                            <th style="width:300px;text-align:center;">H</th>

                        </tr>
                    </thead>
                    <tbody id="tbodyRemarksList">
                        @for (int i = 0; i < Model.Concrete_Specimen_Dtl_List.Count(); i++)
                        {

                            <tr id="tr_@i">
                                <td data-title="Sr.No." style="text-align: center; padding-top: 17px;">
                                    <span id="spnSrNo_@i"> @(i + 1) </span>
                                    @*@Html.HiddenFor(x => x.Concrete_Specimen_Dtl_List[i].Sr_No)
                                    <span id="spnSrNo_@i"> @(i + 1) </span>*@
                                </td>
                                <td data-title="Client">
                                    @Html.TextBoxFor(x => x.Concrete_Specimen_Dtl_List[i].Client, new { @class = "form-control", @autocomplete = "off", @data_placeholder = "Insert Client" })
                                      <span id="spnErr_txtClient_@i" class="field-validation-error"></span>
                                  </td>
                                <td data-title="Id Mark">
                                    @Html.TextBoxFor(x => x.Concrete_Specimen_Dtl_List[i].Id_Mark, new { @class = "form-control numeric", @autocomplete = "off", @data_placeholder = "Insert Mark ID" })
                                    <span id="spnErr_txtId_Mark_@i" class="field-validation-error"></span>
                                 </td>
                                <td data-title="L">
                                    @Html.TextBoxFor(x => x.Concrete_Specimen_Dtl_List[i].Dimension_L, new { @class = "form-control numeric", @autocomplete = "off", @data_placeholder = "Insert Dimension L" })
                                     <span id="spnErr_txtDimensionL_@i" class="field-validation-error"></span>  
                                 </td>
                                <td data-title="B">
                                    @Html.TextBoxFor(x => x.Concrete_Specimen_Dtl_List[i].Dimension_B, new { @class = "form-control numeric", @autocomplete = "off", @data_placeholder = "Insert Dimension B" })
                                    <span id="spnErr_txtDimensionB_@i" class="field-validation-error"></span>
                                </td>
                                <td data-title="H">
                                    @Html.TextBoxFor(x => x.Concrete_Specimen_Dtl_List[i].Dimension_H, new { @class = "form-control numeric", @autocomplete = "off", @data_placeholder = "Insert Dimension H" })
                                    <span id="spnErr_txtDimensionH_@i" class="field-validation-error"></span>
                                </td>
                                <td data-title="Date Of Casting">
                                    @Html.TextBoxFor(x => x.Concrete_Specimen_Dtl_List[i].Date_Of_Casting, new { @class = "form-control date-picker", @autocomplete = "off", @data_placeholder = "Insert Casting Date", @readonly = true })
                                     <span id="spnErr_txtDate_Of_Casting_@i" class="field-validation-error"></span>
                                 </td>
                                <td data-title="Age at Test days">
                                    @Html.TextBoxFor(x => x.Concrete_Specimen_Dtl_List[i].Age_Test, new { @class = "form-control numeric", @autocomplete = "off", @data_placeholder = "Insert Test Age" })
                                        <span id="spnErr_txtAge_Test_@i" class="field-validation-error"></span>
                                 </td>
                                <td data-title="Concrete grade">
                                    @Html.DropDownListFor(x => x.Concrete_Specimen_Dtl_List[i].GRADE_ID, Model.GRADE_LIST, "Select Grade", new { @class = "form-control", @data_placeholder = "Select Grade" })
                                    <span id="spnErr_txtGRADE_ID_@i" class="field-validation-error"></span>
                                  </td>
                                <td data-title="Weight Kgs">
                                    @Html.TextBoxFor(x => x.Concrete_Specimen_Dtl_List[i].Weight, new { @class = "form-control numeric", @autocomplete = "off", @data_placeholder = "Insert Weight" })
                                    <span id="spnErr_txtWeight_@i" class="field-validation-error"></span>
                                   </td>
                                <td data-title="Crushing Load.kN">
                                    @Html.TextBoxFor(x => x.Concrete_Specimen_Dtl_List[i].Crushing_Load, new { @class = "form-control numeric", @autocomplete = "off", @data_placeholder = "Insert Crushing Load" })
                                      <span id="spnErr_txtCrushing_Load_@i" class="field-validation-error"></span>
                                  </td>
                                <td data-title="Compressive strength, Mpa">
                                    @Html.TextBoxFor(x => x.Concrete_Specimen_Dtl_List[i].Compressive_Strength, new { @class = "form-control numeric", @autocomplete = "off", @data_placeholder = "Insert Compressive Strength" })
                                         <span id="spnErr_txtCompressive_Strength_@i" class="field-validation-error"></span>
                                 </td>
                                <td data-title="Average Compressive strength, Mpa">
                                    @Html.TextBoxFor(x => x.Concrete_Specimen_Dtl_List[i].AVG_Compressive_Strength, new { @class = "form-control numeric", @autocomplete = "off", @data_placeholder = "Insert Average Compressive Strength" })
                                     <span id="spnErr_txtAVG_Compressive_Strength_@i" class="field-validation-error"></span>
                                 </td>
                                <td data-title="Remarks">
                                    @Html.TextBoxFor(x => x.Concrete_Specimen_Dtl_List[i].Remarks, new { @class = "form-control", @autocomplete = "off", @data_placeholder = "Insert Remarks" })
                                     <span id="spnErr_txtRemarks_@i" class="field-validation-error"></span>
                                  </td>
                             

                                <td data-title="Action" style="font-size:20px;padding-top:17px;">
                                    @if (i == 0)
                                    {
                                        <i class="fa fa-plus" aria-hidden="true" style="cursor: pointer; display: block;" id="iAddRemarks_@i"></i>
                                        <i class="fa fa-trash-o" aria-hidden="true" style="cursor:pointer;display:none;" id="iDelRemarks_@i"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-plus" aria-hidden="true" style="cursor: pointer; display: none;" id="iAddRemarks_@i"></i>
                                        <i class="fa fa-close" aria-hidden="true" style="cursor:pointer;display:block;color:red;" id="iDelRemarks_@i"></i>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Upload Test Report</label>
            <div class="col-sm-12 col-md-10">
                @Html.TextBoxFor(x => x.UploadFile, new { @class = "form-control", @id = "txtUploadFile", @type = "file" })
                <span id="spnErr_txtUploadFile" class="field-validation-error"></span>
            </div>
        </div>
    
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Tested By</label>
            <div class="col-sm-12 col-md-4">
                @Html.DropDownListFor(x => x.TESTED_BY, Model.EMPLOYEE_LIST, "Select Tested By", new { @class = "custom-select2 form-control", @id = "ddlTESTED_BY", @data_placeholder = "Select Tested By", @style = "width: 100%;" })
                <span id="spnErr_ddlTESTED_BY" class="field-validation-error"></span>
            </div>
            <label class="col-sm-12 col-md-2 col-form-label">Checked By</label>
            <div class="col-sm-12 col-md-4">
                @Html.DropDownListFor(x => x.QC_INCHARGE, Model.EMPLOYEE_LIST, "Select Checked By", new { @class = "custom-select2 form-control", @id = "ddlQC_INCHARGE", @data_placeholder = "Select Checked By", @style = "width: 100%;" })
                <span id="spnErr_ddlQC_INCHARGE" class="field-validation-error"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12" style="padding-top:5px; padding-bottom:15px; padding-right:13px;text-align:center;">
                <input type="submit" class="btn btn-success" value="Save" name="Save" style="width:auto;" id="btnSubmit" />
                <input type="reset" class="btn btn-danger" value="Reset" style="width:auto;" id="btnReset" />
                <input type="button" class="btn btn-warning" value="Back" name="Back" style="width: auto;" id="btnBack" />
                @Html.HiddenFor(x => x.Test_ID)
            </div>
        </div>

    </div>
}
<script src="~/assets/js/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/Custom/customValidation.js"></script>
<script src="~/FormJS/ConcereteSpecimens.js"></script>

<script>
    $(document).ready(function () {
        $("#btnBack").on("click", function () {
                var url = '@Url.Action("ConcreteSpecimensList", "Concrete")';
                window.location.href = url;
        });
        $("#btnReset").on("click", function () {
            var url = '@Url.Action("ConcreteSpecimensEntry", "Concrete")';
            window.location.href = url;
        });


        $("#btnSubmit").click(function (e) {
            flag = validateForm();

            if (flag > 0) {
                e.preventDefault();
                return false;
            }

        });

        function validateForm() {

            if ($("#txtDryBulb").val() == "") {
                $('#spnErr_txtDryBulb').text('Enter Temp Of Dry Bulb').show();
            }
            else {
                $('#spnErr_txtDryBulb').text('').hide();
            }
            if ($("#txtWetBulb").val() == "") {
                $('#spnErr_txtWetBulb').text('Enter Temp Of Wet Bulb').show();
            }
            else {
                $('#spnErr_txtWetBulb').text('').hide();
            }
            if ($("#txtTestDateTime").val() == "") {
                $('#spnErr_txtTestDateTime').text('Enter Test Date & Time').show();
            }
            else {
                $('#spnErr_txtTestDateTime').text('').hide();
            }

            if ($("#ddlTESTED_BY option:selected").val() == "") {
                $('#spnErr_ddlTESTED_BY').text('Select Tested By').show();
            }
            else {
                $('#spnErr_ddlTESTED_BY').text('').hide();
            }
            if ($("#ddlQC_INCHARGE option:selected").val() == "") {
                $('#spnErr_ddlQC_INCHARGE').text('Select Checked By').show();
            }
            else {
                $('#spnErr_ddlQC_INCHARGE').text('').hide();
            }

            if ($("#txtRemarks").val() == "") {
                $('#spnErr_txtRemarks').text('Enter Remarks').show();
            }
            else {
                $('#spnErr_txtRemarks').text('').hide();
            }
            if ($("#txtUploadFile").val() == "") {
                $('#spnErr_txtUploadFile').text('Enter Upload Copy').show();
                return 1;
            }
            else {
                $('#spnErr_txtUploadFile').text('').hide();
            }
            return 0;
        }

  
    });


</script>
